.a{
    height: 45px;
    width:90%;
    background-color: white;
    margin: 20px 0px;
}
.a input{
    height: 45px;
    width: 79%;
    padding-left: 8%;
    border: none;
    outline: none;
}
.a button{
    height: 45px;
    width:20%;
    border:none;
    outline: none;
    color:white;
    background-color:darkblue;
}
.a button{
    /* border-radius: 50px; */
}
